@charset "UTF-8";

* { padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header.menu-mobile a, li {
    text-decoration: none;
    list-style-type: none;
    color: white;
    margin: 1rem;
}

header.menu-mobile a:visited {
    color: white;
}

header.menu-mobile {
    background-color: var(--cor2);
    width: 100vw;
    height: 14vw;
    position: fixed;
}


.container #botao-menu {
    opacity: 0;
}

.menu-mobile .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bot-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.tracos *:nth-child(n) {
    background-color: rgb(255, 255, 255);
    width: 13vw;
    height: 2vw;
    margin: 2vw;
    transition: all 0.1s linear;
}

input#botao-menu:checked ~ label .tracos *:nth-child(1) {
    transform: translate(0%, 4vw) rotate(45deg);
}

input#botao-menu:checked ~ label .tracos *:nth-child(2) {
    opacity: 0;
}

input#botao-menu:checked ~ label .tracos *:nth-child(3) {
    transform: translate(0%, -4vw) rotate(-45deg);
}


.menu-conteudo {
    display: none;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
}

.menu-conteudo ul {
    color: white;
    font-size: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.menu-conteudo ul  li a{
    padding: 5vw;
}

input#botao-menu:checked ~ nav.menu-conteudo {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    background-color: var(--cor2);
    text-align: center;
}

@media (min-width: 701px){
    header.menu-mobile {
    display: none;
    }

    header.menu-mobile a, li {
        margin: 0;
    }
}